<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="http://fonts.googleapis.com/css?family=Open+Sans"
            rel="stylesheet"
            type="text/css"
    />
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Open Sans";
        }

        .container {
            box-sizing: border-box;
            margin: auto;
            max-width: 700px;
            color: rgba(0, 0, 0, 0.8);
            padding: 1% 3%;
            border: 1px solid #c7d0d4;
            border-radius: 0px 0px 4px 4px;
        }

        .header {
            box-sizing: border-box;
            font-size: 26px;
            font-weight: 800;
            color: white;
            background-color: #2c2c6a;
            height: 70px;
            width: 100%;
            padding: 18px 3% 0;
            margin: auto;
            border-radius: 4px 4px 0px 0px;
            max-width: 700px;

        }

        h1 {
            font-size: 26px;
            font-weight: 700;
            text-align: center;
            line-height: 30px;
            margin: 10px 0px;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 20px 0px;
            text-decoration: none;
        }

        .button {
            background: #5fc796;
            border-radius: 35px;
            padding: 18px 20%;
            color: white;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            outline: none;
            border: none;
            margin: auto;
            word-break: break-word;
        }

        .alternative-link {
            font-size: 16px;
            margin-right: 5px;
        }

        p {
            font-size: 18px;
            margin-top:5px;
        }

        @media screen and (max-width: 600px) {
            h1 {
                font-size: 20px;
            }

            p, .button {
                font-size: 16px;
            }

            .alternative-link {
                font-size: 14px;
            }
        }

        a {
            font-size: 18px;
            text-decoration: underline;
            color: #4c92e3;
        }

        .footer {
            font-size: 16px;
            color: #929ba5;
            font-weight: 300;
            text-align: center;
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <div class="header" th:text="#{email.resetPassword.header}"></div>
    <div class="container">
        <p>
            <span th:text="${sender}"></span>
            <span th:text=" #{email.invitationDebate.text}"></span>
            <br>
        </p>
        <h1 th:text="${title}">
        </h1>
        <br>
        <p th:text="${message}"></p>
        <br>

        <a th:href="${link}" class="button-container">
            <div class="button" th:text="#{email.invitationDebate.button}"></div>
        </a>

        <div class="alternative-link-container">
            <p class="alternative-link" th:text="#{email.p2}">
            </p>
            <span><a class="alternative-link" th:href="${link}" th:text="${link}"></a></span>
        </div>
        <div class="footer" th:text="#{email.footer}"></div>
    </div>
</body>
</html>